@import url("https://fonts.googleapis.com/css?family=Be+Vietnam+Pro:wght@300&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Be Vietnam Pro", sans-serif;
}

:root {
    --bg_orange: #e84949;
}

.wrapper {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.container {
    width: 1200px;
    margin: 0 auto;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 1rem;

}

.logo-container {
    display: flex;
    justify-content: baseline;
    align-items: center;
}

.logo {
    height: 35px;
    width: 35px;
}

.logo-text {
    margin-left: -0.5rem;
    font-size: 28px;

}

.nav-items {
    display: flex;
    gap: 2rem;
    padding: 0 4rem;

}

.nav-items div {
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.nav-items div a {
    color: black;


}

a {
    text-decoration: none;

}

.nav-items div:hover {
    font-weight: bold;
    transition: 0.8s;
}

.hero_section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 5rem;
    margin: 4rem auto;
    padding: 0 1rem;
    padding-bottom: 8rem;
    

}

.faded-text {
    user-select: none;
    font-size: 7em;
    color: rgb(231, 231, 231);
    position: absolute;

    bottom: -16%;
    left: 0%;
    font-weight: bold;
    transition: all 3s;
}

.hero_section_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;

}

.hero_section_heading {
    font-size: 35px;
    color: #343d68;
    font-weight: 500;
}

.role {
    color: #4e45d5;
    font-weight: 800;
}

.hero_section_sub_heading {
    font-size: 45px;
    line-height: 45px;

}

.hero_section_description {
    margin-top: 1rem;
    width: 70%;
    font-weight: 500;
}

.btn-pink {
    background-color: #e84949;
    padding: 0.8rem 2.3rem;
    color: white;
    font-size: 18px;
    box-shadow: 5px 5px 7px 0px #0000003f;
    position: relative;
    z-index: 1;
    cursor: pointer;
    max-width: fit-content;
}

.btn-pink::before {
    content: "";
    background-color: #1f1f1f;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: 0.8s;
    z-index: -1;
}

.btn-pink:hover::before {
    transform: scaleX(1);

}

.hero_section_right {
    position: relative;

}

.absolute {
    position: absolute;
}

.user-image {
    padding: 2.5rem;
    filter: grayscale(1);
    transition: all 1s;
    animation: scaleimage 5s linear infinite;
}

.user-image img {
    z-index: -9;
    height: 300px;
    width: 280px;
}

@keyframes scaleimage {
    0% {
        filter: grayscale(1);
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
        filter: grayscale(0);
        box-shadow: 3px 3px 10px black;
    }

    100% {
        transform: scale(1);
        filter: grayscale(1);
    }
}

.icon-dots {
    z-index: 9;
    bottom: -1rem;
    right: 0;
    animation-name: dotsAnimation;
    animation-duration: 5s;
    animation-iteration-count: infinite;

}

.icon-dots img {
    height: 50px;
    width: 50px;
}

@keyframes dotsAnimation {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-15px);

    }

    100% {
        transform: translateY(0px);

    }
}

.icon-insta {
    z-index: 9;
    top: -0.8em;
    right: 1em;
    animation-name: instaAnimation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.icon-insta img {
    height: 50px;
    width: 50px;
}

@keyframes instaAnimation {
    0% {
        transform: rotateY(0deg) translateY(0px);
    }

    50% {
        transform: rotateY(180deg) translateY(-12px);
    }

    100% {
        transform: rotateY(360deg) translateY(0px);

    }
}

.icon-whatsapp {
    bottom: 0;
    left: 0;
    z-index: 9;
    animation-name: whatsappAnimation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.icon-whatsapp img {
    height: 50px;
    width: 50px;
}

@keyframes whatsappAnimation {
    0% {
        left: 0;
        bottom: 0;
    }

    50% {
        left: 5%;
        bottom: 10%;
    }

    100% {
        left: 0;
        bottom: 0;

    }
}

.icon-js {
    z-index: 9;
    top: -2em;
    left: -2em;
    animation: jsAnimation 5s ease-in infinite;
}

.icon-js img {
    height: 50px;
    width: 50px;
}

@keyframes jsAnimation {
    0% {}

    50% {
        left: 5%;
        top: 2%;
    }

    100% {
        left: 0;
        bottom: 0;

    }
}

.icon-github {
    z-index: 9;
    top: -2em;
    right: 11em;
    animation: githubAnimation 5s ease infinite;
}

.icon-github img {
    height: 50px;
    width: 50px;
}

@keyframes githubAnimation {
    0% {
        top: -2em;
        right: 11em;

    }

    50% {
        top: -2em;
        right: 13em;

    }

    100% {
        top: -2em;
        right: 11em;

    }
}

.project-section{
    background-color:rgb(231, 231, 231) ;
    margin-top: 4rem;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}
.page-header{
    display: flex;
    color: var(--bg_orange);
    font-size: 90px;
    text-align: center;
    justify-content: center;
    padding-top: 30px;

}
.project-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 3rem 0;
    display: flex;
    flex-direction: column; 
    gap: 120px;
    position: relative;
}
.project-card{
    width: 90%;
    height: 550px;
    background-image: url(le-buzz-studio-9H0ZA1oPsYE-unsplash.jpg);
    /* object-fit: contain; */
    background-size: cover;
    /* background-repeat: no-repeat; */
    position: relative;
    box-shadow: 0px 0px 40px #1f1f1f;

}
.project-card::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1f1f1f9a;
    transform: scaleX(1);
}
.project-card::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg,#343d68,#343d68be,#343d687c);
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.4s;
}

.project-card:hover::before {
    transform: scaleX(1);
    /* transition: all 0.4s; */
}
/* .project-card:hover::after {
    background-color: #1f1f1f00;
    transition: all 0.4s;
} */

.project-number{
    position: absolute;
    font-size: 200px;
    font-weight: 600;
    color: white;
    z-index: 10;
    display: none;
}

.project-card:hover .project-number{
    display: block;
    opacity: 1;

}
.project-number-right{
    right: -55px;
    top: -30px;
}
.project-number-left{
    position: absolute;
    left: -15px;
    top: -40px;
}
.project-content{
    position: absolute;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 2em;
    bottom: 20%;
    z-index: 5;
    gap: 1em;
    transition: all 0.4s;
}

.project-skills-container img{
    height: 30px;
    width: 30px;
}
.project-content-left{
    left: 30%;
}
.project-content-right{
    right: 10%;
}
.project-skills-container{
    width: 60%;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.project-skills{
    width: 40px;
}

.project-heading{
    font-size: 50px;
    font-weight: bold;
    line-height: 3rem;
}

.project-subheading{
    width: 70%;
    font-size: 16px;
    font-style: italic;
}
.btn-grp{
    display: flex;
    gap: 0.9rem;
    align-items: center;
}

.btn-project:hover{
    border: none;
}

.icon{
    cursor: pointer;
    color: white;
    font-size: 35px;
    transition: all 0.4s;
}
.icon:hover{
    color: var(--bg_orange); 
}
.project-card:hover .project-content{
    transform: scale(1.1);
}
#project1{
    background-image: url(images/Project01.png);
}
#project2{
    margin-left: 120px;
    background-image: url(lee-campbell-DtDlVpy-vvQ-unsplash.jpg);
}
#project3{
    background-image: url(nasa-Q1p7bh3SHj8-unsplash.jpg);
}
#project4{
    margin-left: 120px;
    background-image: url(austin-distel-wD1LRb9OeEo-unsplash.jpg);
}

.skills-container{
    position: relative;
    display: flex;
    padding: 5rem;
    margin: -2rem auto;
    gap: 30px;
    background-color: white;
}

.skills-container-left{
    width: 50%;
    display: flex;
    flex-direction: column;
    background-color: white;

}

.skills-container-right{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    position: relative;
    gap: 2rem;
    background-color: white;
}

.skill-fade-text{
    position: absolute;
    font-size: 15rem;
    font-style: bold;
    color: rgb(231, 231, 231);
    background-color: white;
    bottom: -34.5%;
    right: 0%;
    user-select: none;
    /* overflow-y: hidden; */
}
.blob-style{
    position: absolute;
    top: 50%;
    left: 70%;
    z-index: -5;
    animation: blobAnimate 3s liner infinite;
    transform: translate(-50%, -50%) ;
    height: 280px;
   
}
@keyframes blobAnimate {
    
    50% {
        top: 60%;
        left: 40%;
    }
    
}
.skills-logo{
    position: relative;
    width: 90px;
    transition: all 0.5s;
    gap: 15px;
    z-index: 1;
}
.skills-logo:hover{
    transform: scale(1.2);
}
.skill-heading{
    font-size: 50px;
    font-style: bold;
    /* font-weight: 600; */
    color: var(--bg_orange);
    line-height: 50px;
}
.caps{
    font-size: 90px;
}

.skill-subheading{
    margin-top: 1rem;
    width: 85%;
    text-align: justify;
}